.carrinho-pedidos {
    background-color: var(--white);
    max-width: 55.625rem;
    height: 22rem;
    border-radius: 0.5rem;
    padding: 0 2rem 0 2rem;
    border: 1px solid transparent;
}

.topico-pedidos {
    display: flex;
    height: 2rem;
    margin-top: 1.5rem;
}

.topico-pedidos h3 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--black);
    margin: auto auto auto 0;
}

.topico-pedidos h4 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--black);
    margin: auto 2rem auto 0.5rem;
}

.descricao-pedidos {
    display: flex;
}

.fundo-img-carrinho {
    background-color: #E2E3FF;
    width: 8rem;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.descricao-pedidos img {
    width: 5.62rem;
    height: auto;
}

.info-pedidos-carrinho h4 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.25px;
    color: var(--light-gray);
    margin: auto 2rem 0.5rem 0.2rem;
}

.info-pedidos-carrinho h6 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.25px;
    color: var(--light-gray);
    margin: auto 2rem 0 0.2rem;
}

.info-pedidos-carrinho span {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.25px;
    color: var(--black);
    margin-left: 0.2rem;
}

.info-pedidos-carrinho h5 {
    width: 13.6875rem;
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 0.875rem;
    line-height: 1.375rem;
    letter-spacing: 0.75px;
    color: var(--black);
    margin: auto 2rem 0.5rem 0.2rem;
}

.quantidade-pedidos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1rem 0 auto;
}

.quantidade-pedidos a {
    color: var(--black);
}

.contador-pedidos {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.contador-pedidos h6 {
    align-self: center;
    margin: auto;
}

.contador-pedidos button {
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px var(--light-gray-2) solid;
    width: 2.1875rem;
    height: 2.1875rem;
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.unitario-pedidos {
    width: 5.375rem;
    margin: 0 0.5rem 0 0.5rem;
}

.unitario-pedidos h2 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--black);
    text-align: center;
}

.unitario-pedidos h3 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--light-gray-2);
    text-align: center;
    text-decoration: line-through;
}

.total-pedidos {
    width: 5.375rem;
    margin: 0 0.6rem 0 0.5rem;
}

.total-pedidos h2 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--black);
    text-align: center;
}

.total-pedidos h3 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--light-gray-2);
    text-align: center;
    text-decoration: line-through;
}

.frete-pedidos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cupom-desconto h2 {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 0.75rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--black);
    text-align: flex-start;
}

.pesquisa-carrinho input {
    background-color: var(--light-gray-4);
    width: 16.875rem;
    height: 3.75rem;
    border-radius: 0.5rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}

.pesquisa-carrinho input::placeholder {
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_normal);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    color: var(--dark-gray-3);
}

.pesquisa-carrinho button {
    background-color: var(--light-gray-4);
    color: var(--primary);
    width: 7.125rem;
    height: 3.75rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.75px;
    transition: 0.3s ease;
}

.pesquisa-carrinho button:hover {
    background-color: var(--light-gray-2);
    color: var(--tertiary);
}