.options-pedidos {
    background-color: var(--white);
    max-width: 20.875rem;
    height: 16.75rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options-pedidos-align {
    width: 17.125rem;
    height: 13rem;
    margin: auto;
}
.options-pedidos-align a {
    color: var(--black);
    font-family: var(--font_primaria);
    font-weight: var(--font_weight_bold);
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.75px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.options-pedidos-align a:hover {
    color: var(--primary);
}

.options-pedidos .selected {
    font-weight: var(--font_weight_bold);
    color: var(--primary);
    font-size: 1rem;
    padding-bottom: 0.3rem;
}
