.options-pedidos{
          background-color: var(--white);
          max-width: 20.875rem;
          height: 16.75rem;
          border-radius: 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
}

.options-pedidos-align{
          width: 17.125rem;
          height: 13rem;
          margin: auto auto;
}

.options-pedidos-align a{
          color: var(--black);
          font-family: var(--font_primaria);
          font-weight: var(--font_weight_bold);
          font-size: 1rem;
          line-height: 1.75rem;
          letter-spacing: 0.75px;
          text-decoration: none;
          transform: 0.5s ease;
}

.options-pedidos-align a:hover{
          color: var(--primary);
}