@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font_primaria: "Inter", sans-serif;
    --font_weight_normal: 400;
    --font_weight_bold: 700;
    --font_weight_extra_bold: 900;

    --primary: #C92071;
    --secondary: #B5B6F2;
    --tertiary: #991956;
    --error: #EE4266;
    --success: #52CA76;
    --warning: #F6AA1C;
    --verde_off: #E7FF86;

    --dark-gray: #1F1F1F;
    --dark-gray-2: #474747;
    --dark-gray-3: #666666;
    --light-gray: #8F8F8F;
    --light-gray-2: #CCCCCC;
    --light-gray-3: #F5F5F5;
    --light-gray-4: #F8F8F8;
    --white: #FFFFFF;
    --black: #000000;
    --fundo: #F9F8FE;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}